.wrapper{
	background: red;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px
}
button{
	margin-top: 40px;
	margin-left: 42%;
	border-style: solid;
	border-width: 3px;
	border-radius: 4px;
	text-align: center;
}

.seleimg{
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px
}